In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np

In [2]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-mpnet-base-v2')

In [3]:
movies = pd.read_excel('data/movies_df_without_embeddings.xlsx')

In [4]:
movies

,movieId,budget,original_language,popularity,revenue,runtime,vote_average,vote_count,overview,tags
0,1,30000000,en,102.775,394400000,81,7.970,17264,"Led by Woody, Andy's toys live happily in his ...","['martial arts', 'jealousy', 'friendship', 'bu..."
1,2,65000000,en,15.210,262821940,104,7.238,9887,When siblings Judy and Peter discover an encha...,"['giant insect', 'board game', 'jungle', 'disa..."
2,3,25000000,en,12.835,71500000,101,6.494,350,A family wedding reignites the ancient feud be...,"['fishing', 'halloween', 'sequel', 'old man', ..."
3,4,16000000,en,14.973,81452156,127,6.183,142,"Cheated on, mistreated and stepped on, the wom...","['based on novel or book', 'interracial relati..."
4,5,0,en,17.414,76594107,106,6.235,663,Just when George Banks has recovered from his ...,"['parent child relationship', 'baby', 'midlife..."
...,...,...,...,...,...,...,...,...,...,...
9682,193581,0,ja,11.584,0,100,7.695,82,"Ciel learns of a ""Aurora Society"", that is rum...","['butler', 'victorian england', 'based on mang..."
9683,193583,0,ja,16.119,6000000,106,7.800,340,"In ancient Disboard, Riku is an angry, young w...","['based on novel or book', 'anti hero', 'magic..."
9684,193585,0,en,3.280,0,96,6.800,16,A woman deals with the toxic water scandal in ...,[]
9685,193587,0,ja,15.519,0,90,8.240,131,A large scale catastrophe is occurring across ...,"['supernatural', 'mafia', 'based on manga', 's..."
9686,193609,0,en,3.343,0,85,6.500,6,"Outrageous, misogynistic and vulgar-to-the-max...",['stand-up comedy']

In [5]:
embeddings = []
num_dimensions = 768
for index, row in tqdm(movies.iterrows()):
    overview = row["overview"]
    #print(overview)
    if isinstance(overview, str):
        embedding = list(model.encode(overview))
    else:    
        embedding = [0.0 for _ in range(num_dimensions)]
        
    embeddings.append(embedding)
movies["overview_embeddings"] = embeddings

9687it [09:20, 17.30it/s]

In [6]:
movies = movies.set_index('movieId')

In [10]:
movies.head(3)

,budget,original_language,popularity,revenue,runtime,vote_average,vote_count,overview,tags,overview_embeddings
movieId,,,,,,,,,,
1,30000000,en,102.775,394400000,81,7.970,17264,"Led by Woody, Andy's toys live happily in his ...","['martial arts', 'jealousy', 'friendship', 'bu...","[0.056440137, 0.059867144, -0.010645777, 0.024..."
2,65000000,en,15.210,262821940,104,7.238,9887,When siblings Judy and Peter discover an encha...,"['giant insect', 'board game', 'jungle', 'disa...","[0.04063326, -0.012308196, -0.048614927, 0.051..."
3,25000000,en,12.835,71500000,101,6.494,350,A family wedding reignites the ancient feud be...,"['fishing', 'halloween', 'sequel', 'old man', ...","[-0.013074059, 0.025070313, -0.02172346, -0.00..."

In [11]:
#Save as excel file
movies.to_excel("data/movies_df.xlsx")